#change_ps {
	margin: 80px 0px 0px 230px;
	align: center;	
}
#change_ps .form-control 
{
	width: 600px;
}
#change_ps h2
{
	font-weight: bold;
}
#change_ps #btn_cancel
{
	margin-left: 20px;
	width: 80px;	
}